In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from glob import glob
import os

Data Cleaning

In [3]:
print(os.listdir())

['.config', 'datafile_4.csv', 'datafile_1.csv', 'datafile_0.csv', 'datafile_3.csv', 'datafile_2.csv', 'sample_data']

In [4]:
df_0=pd.read_csv("datafile_0.csv")
df_1=pd.read_csv("datafile_1.csv")
df_2=pd.read_csv("datafile_2.csv")
df_3=pd.read_csv("datafile_3.csv")
df_4=pd.read_csv("datafile_4.csv")

glob function

In [5]:
data_files = sorted(glob('datafile_*.csv'))
data_files

['datafile_0.csv',
 'datafile_1.csv',
 'datafile_2.csv',
 'datafile_3.csv',
 'datafile_4.csv']

In [6]:
mergedata=pd.concat(pd.read_csv(datafile).assign(sourcefilename=datafile)for datafile in data_files)
mergedata

,Crop,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,sourcefilename,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,Rice,100.0,101.0,99.0,105.0,112.0,121.0,117.0,110.0,datafile_0.csv,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wheat,100.0,101.0,112.0,115.0,117.0,127.0,120.0,108.0,datafile_0.csv,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Coarse Cereals,100.0,107.0,110.0,115.0,113.0,123.0,122.0,136.0,datafile_0.csv,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Pulses,100.0,108.0,134.0,124.0,124.0,146.0,137.0,129.0,datafile_0.csv,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Vegetables,100.0,109.0,103.0,118.0,113.0,124.0,128.0,115.0,datafile_0.csv,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datafile_4.csv,...,778.0,669.0,807.0,1015.0,1031.0,541.0,1051.0,1080.0,1156.0,NaN
425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datafile_4.csv,...,1054.0,985.0,1951.0,1943.0,2424.0,2516.0,2476.0,3625.0,2357.0,NaN
426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datafile_4.csv,...,1577.0,1383.0,1404.0,1454.0,1550.0,1541.0,1563.0,1759.0,1845.0,NaN
427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datafile_4.csv,...,1222.0,1188.0,1318.0,1319.0,1280.0,1160.0,1328.0,1320.0,1360.0,NaN
428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,datafile_4.csv,...,2443.0,2132.0,2589.0,2729.0,3319.0,3531.0,3700.0,3455.0,5250.0,NaN

save to merged file

In [7]:
mergedata.to_csv('merged.csv')

In [8]:
mr=pd.read_csv("merged.csv")
mr

,Unnamed: 0,Crop,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,0,Rice,100.0,101.0,99.0,105.0,112.0,121.0,117.0,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Wheat,100.0,101.0,112.0,115.0,117.0,127.0,120.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Coarse Cereals,100.0,107.0,110.0,115.0,113.0,123.0,122.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Pulses,100.0,108.0,134.0,124.0,124.0,146.0,137.0,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vegetables,100.0,109.0,103.0,118.0,113.0,124.0,128.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,778.0,669.0,807.0,1015.0,1031.0,541.0,1051.0,1080.0,1156.0,NaN
620,425,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1054.0,985.0,1951.0,1943.0,2424.0,2516.0,2476.0,3625.0,2357.0,NaN
621,426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1577.0,1383.0,1404.0,1454.0,1550.0,1541.0,1563.0,1759.0,1845.0,NaN
622,427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1222.0,1188.0,1318.0,1319.0,1280.0,1160.0,1328.0,1320.0,1360.0,NaN
623,428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2443.0,2132.0,2589.0,2729.0,3319.0,3531.0,3700.0,3455.0,5250.0,NaN

In [9]:
mr.isnull().sum()

Unnamed: 0      0
Crop          485
2004-05       612
2005-06       612
2006-07       612
             ...
 3-2010       221
 3-2011       220
 3-2012       236
 3-2013       326
 3-2014       561
Length: 61, dtype: int64

In [10]:
mr.isnull().any()

Unnamed: 0    False
Crop           True
2004-05        True
2005-06        True
2006-07        True
              ...
 3-2010        True
 3-2011        True
 3-2012        True
 3-2013        True
 3-2014        True
Length: 61, dtype: bool

In [11]:
mr=mr.fillna(method='ffill')
mr

,Unnamed: 0,Crop,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,0,Rice,100.0,101.0,99.0,105.0,112.0,121.0,117.0,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Wheat,100.0,101.0,112.0,115.0,117.0,127.0,120.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Coarse Cereals,100.0,107.0,110.0,115.0,113.0,123.0,122.0,136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Pulses,100.0,108.0,134.0,124.0,124.0,146.0,137.0,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Vegetables,100.0,109.0,103.0,118.0,113.0,124.0,128.0,115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,424,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,778.0,669.0,807.0,1015.0,1031.0,541.0,1051.0,1080.0,1156.0,1672.0
620,425,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1054.0,985.0,1951.0,1943.0,2424.0,2516.0,2476.0,3625.0,2357.0,1672.0
621,426,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1577.0,1383.0,1404.0,1454.0,1550.0,1541.0,1563.0,1759.0,1845.0,1672.0
622,427,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1222.0,1188.0,1318.0,1319.0,1280.0,1160.0,1328.0,1320.0,1360.0,1672.0
623,428,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,2443.0,2132.0,2589.0,2729.0,3319.0,3531.0,3700.0,3455.0,5250.0,1672.0

In [12]:
mr=mr.fillna(method='bfill')
mr

,Unnamed: 0,Crop,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,0,Rice,100.0,101.0,99.0,105.0,112.0,121.0,117.0,110.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,1,Wheat,100.0,101.0,112.0,115.0,117.0,127.0,120.0,108.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
2,2,Coarse Cereals,100.0,107.0,110.0,115.0,113.0,123.0,122.0,136.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
3,3,Pulses,100.0,108.0,134.0,124.0,124.0,146.0,137.0,129.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
4,4,Vegetables,100.0,109.0,103.0,118.0,113.0,124.0,128.0,115.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,424,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,778.00000,669.0000,807.00000,1015.00000,1031.000000,541.000000,1051.000000,1080.000000,1156.00,1672.0000
620,425,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1054.00000,985.0000,1951.00000,1943.00000,2424.000000,2516.000000,2476.000000,3625.000000,2357.00,1672.0000
621,426,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1577.00000,1383.0000,1404.00000,1454.00000,1550.000000,1541.000000,1563.000000,1759.000000,1845.00,1672.0000
622,427,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1222.00000,1188.0000,1318.00000,1319.00000,1280.000000,1160.000000,1328.000000,1320.000000,1360.00,1672.0000
623,428,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,2443.00000,2132.0000,2589.00000,2729.00000,3319.000000,3531.000000,3700.000000,3455.000000,5250.00,1672.0000

In [13]:
mr=mr.interpolate()
mr

,Unnamed: 0,Crop,2004-05,2005-06,2006-07,2007-08,2008-09,2009-10,2010-11,2011-12,...,3-2005,3-2006,3-2007,3-2008,3-2009,3-2010,3-2011,3-2012,3-2013,3-2014
0,0,Rice,100.0,101.0,99.0,105.0,112.0,121.0,117.0,110.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
1,1,Wheat,100.0,101.0,112.0,115.0,117.0,127.0,120.0,108.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
2,2,Coarse Cereals,100.0,107.0,110.0,115.0,113.0,123.0,122.0,136.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
3,3,Pulses,100.0,108.0,134.0,124.0,124.0,146.0,137.0,129.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
4,4,Vegetables,100.0,109.0,103.0,118.0,113.0,124.0,128.0,115.0,...,198.36282,208.6016,217.28212,230.77504,234.466177,218.107372,244.491809,259.286253,257.13,264.3806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,424,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,778.00000,669.0000,807.00000,1015.00000,1031.000000,541.000000,1051.000000,1080.000000,1156.00,1672.0000
620,425,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1054.00000,985.0000,1951.00000,1943.00000,2424.000000,2516.000000,2476.000000,3625.000000,2357.00,1672.0000
621,426,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1577.00000,1383.0000,1404.00000,1454.00000,1550.000000,1541.000000,1563.000000,1759.000000,1845.00,1672.0000
622,427,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,1222.00000,1188.0000,1318.00000,1319.00000,1280.000000,1160.000000,1328.000000,1320.000000,1360.00,1672.0000
623,428,Desi Cotton,100.0,99.0,101.0,104.0,106.0,115.0,123.0,122.0,...,2443.00000,2132.0000,2589.00000,2729.00000,3319.000000,3531.000000,3700.000000,3455.000000,5250.00,1672.0000

In [14]:
mr.isnull().sum()

Unnamed: 0    0
Crop          0
2004-05       0
2005-06       0
2006-07       0
             ..
 3-2010       0
 3-2011       0
 3-2012       0
 3-2013       0
 3-2014       0
Length: 61, dtype: int64

In [15]:
mr = mr.drop('Unnamed: 0', axis=1)

In [16]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = mr[['Yield (Quintal/ Hectare) ','Cost of Cultivation (`/Hectare) A2+FL', 'Cost of Cultivation (`/Hectare) C2']]
Y = mr['Production 2006-07']

# Split the dataset into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train, Y_train)

# Make predictions on the testing set
Y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(Y_test, Y_pred)
rmse = mse**0.5
print("Root Mean Squared Error:", rmse)

# Use the model to make predictions on new data
a = input("Enter the State\n")
b = input("Enter the cultivation cost per hectare\n")
c = input("Enter the cultivation cost per hectare in c2\n")
new_data = pd.DataFrame({'Yield (Quintal/ Hectare) ': [a], 'Cost of Cultivation (`/Hectare) A2+FL': [b], 'Cost of Cultivation (`/Hectare) C2': [c]})
areaYield = model.predict(new_data)
print("the crop rate in 2010-11 is", areaYield)

Root Mean Squared Error: 26.388081594294466
Enter the State
58
Enter the cultivation cost per hectare
40000
Enter the cultivation cost per hectare in c2
45000
the crop rate in 2010-11 is [23.90418582]